
#modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 87, 69, 0.7);
    top: 0px;
}

.modal__window {
    min-width: 340px;
    width: 70%;
    max-width: 800px;
    height: 200px;
    max-height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(241, 239, 231);
}

.close-btn {
    width: 30px;
    height: 30px;
    padding-top: 30px;
    position: relative;
    top: 0px;
    left: 47%;
    background-image: url('../../public/x-mark.svg');
    cursor: pointer;
    /* background-color: aquamarine; */
}

.close-btn:hover {
    background-image: url('../../public/x-mark-red.svg');
}

.modal__input {
    min-width: 320px;
    width: 98%;
    height: 100%;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    color: ghostwhite;
    background-color:#305745;
    resize: none;
}

.modal__input::placeholder {
    color: rgb(165, 189, 171);
}