
#modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 87, 69, 0.7);
    top: 0px;
}

.modal__window {
    min-width: 360px;
    height: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(241, 239, 231);
}

.close-btn {
    width: 30px;
    height: 30px;
    position: relative;
    top: -6px;
    left: 150px;
    font-size: 3rem;
    font-family: sans-serif;
    text-justify: center;
    background-image: url('../../public/x-mark.svg');
    cursor: pointer;
}

.close-btn:hover {
    background-image: url('../../public/x-mark-red.svg');
}

.modal__input {
    margin: 10px 0px 0px 0px;
    width: 320px;
    /* margin-bottom: 0px; */
}

form {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}