.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(241, 239, 231);
  box-shadow: -16px 16px 0px 1px rgba(0, 0, 0, 0.3);
}
