section {
    width: 80%;
    max-height: 200px;
    overflow-y: scroll;
}

section::-webkit-scrollbar {
    display: none;
    /* position: relative; */
    /* left: 10px; */
}

ul {
    list-style: none;
}